.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}

#submit-button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#submit-button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    background-color: #1351d8;
}

button:hover {
    background-color: #003399;
    color: white;
    cursor: pointer;
}

.titulo {
    margin-left: 8px;
}

.privacy-notice {
    font-size: 15px;
    color: #666;
    margin: 15px 8px;
    text-align: left;
    line-height: 1.05;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0px 1px 0px 2px;
    text-align: left;
    font-size: 15px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.9px;
}